<% include ../index.ejs %>

<div class="mx-auto col-sm-6 mt-3">

    <!-- form user info -->
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-8">
                    <h4 class="mb-0">User Register </h4>

                </div>
                <div class="col-4">
                    <span class="float-right"><a href="/users/user_login">Login</a></span>

                </div>
            </div>
        </div>
        <div class="card-body">

            <!-- FORM START -->
            <form class="form" role="form" autocomplete="off" method="POST" action="/users/user_reister">
                
                <!-- NAME -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Name</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="name" type="text" placeholder="Enter name" value="<%= getallFormValue.name %>">
                        <small style="color: red"> <%= getallFormValue.nameError %> </small>
                    </div>
                </div>
                
                <!-- USERNAME -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="username" type="text" placeholder="Enter username" value="<%= getallFormValue.username %>">
                        <small style="color: red"> <%= getallFormValue.usernameError %> </small>
                    </div>
                </div>

                <!-- EMAIL -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="email" type="email" value=" " placeholder="mail@gmail.com" value="<%= getallFormValue.email %>">
                        <small style="color: red"> <%= getallFormValue.emailError %> </small>
                    </div>
                </div>

                <!-- PASSWORD -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="password" type="password" placeholder="Enter password">
                        <small style="color: red"> <%= getallFormValue.passwordError %> </small>
                    </div>
                </div>

                <!-- CONFIRM PASSWORD -->
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Confirm Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" name="conpassword" type="password" placeholder="Retype password">
                        <small style="color: red"> <%= getallFormValue.confirmpassError %> </small>
                    </div>
                </div>

                <!-- REMEMBER ME -->
                <div class="checkbox">
                    <label for="select-checkbox">
                        <input name="terms" id="select-checkbox" type="checkbox">I have read and agree to the <a href="#">terms of service</a>
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <!-- FORM END -->

        </div>
    </div>
</div>



<% include ../include/footer %>
